.container {
  text-align: center;
  color: #f6f7eb;
  width: 50%;
  margin: auto;
}
.home {
  width: 70%;
  margin: auto;
  color: #f6f7eb;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

button {
  background: #d8dca7;
  border-radius: 10px;
  border: none;
  padding: 0;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 15px 42px;
  border-radius: 10px;
  font-size: 1.5rem;
  background: #f6f7eb;
  color: black;
  transform: translateY(-4px);
  font-weight: bolder;
  will-change: transform;
  transition: transform 150ms;
}

button:hover .front {
  cursor: pointer;
  transform: translateY(-6px);
}

button:active .front {
  transform: translateY(-2px);
}
